
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="border:1px solid #ddd; padding:15px">
                    <form action="/Pay/Index" method="post" id="form" name="form" >
                        <h3 class="font-size-20" style="color:orangered; text-align:center">Thông tin hành khách</h3>
                        <p style="float:left; color:black">Họ tên</p>
                        <br />
                        <center>
                            <input required maxlength="30" name="hoten" id="hoten" type="text" value="@ViewData["nameKH"]" class="form-control hoten" style="width:93%; height:60%" placeholder="Họ tên của hành khách">
                        </center>
                        <br />
                        <p style="float:left; color:black">Email</p>

                        <br />
                        <center>
                            <input required maxlength="100" name="email" id="email" type="email" value="@ViewData["email"]" class="form-control email" style="width:93%; height:60%" placeholder="Địa chỉ email">
                        </center>
                        <center style="display:none">
                            <input name="diadiemSelect" value="@ViewData["diadiemSelect"]" type="text" class="form-control email" style="width:93%; height:60%; " placeholder="Địa chỉ email">
                            <input name="gheSelect" value="@ViewData["gheSelect"]" type="text" class="form-control email" style="width:93%; height:60%; " placeholder="Địa chỉ email">
                            <input name="donGiaNha" value="@ViewData["donGiaNha"]" type="text" class="form-control email" style="width:93%; height:60%; " placeholder="Địa chỉ email">

                            <input name="idChuyenDi" value="@ViewData["idChuyenDi"]" type="text" class="form-control email" style="width:93%; height:60%;display:none " placeholder="Địa chỉ email">
                            <input name="dateStart" value="@ViewData["dateStart"]" type="text" class="form-control email" style="width:93%; height:60%; display:none" placeholder="Địa chỉ email">
                            <input name="noidi" value="@ViewData["noidi"]" type="text" class="form-control email" style="width:93%; height:60%; display:none" placeholder="Địa chỉ email">
                            <input name="noiden" value="@ViewData["noiden"]" type="text" class="form-control email" style="width:93%; height:60%; display:none" placeholder="Địa chỉ email">
                        </center>
                        <br />
                        <p style="float:left; color:black">Di động</p>
                        <br />
                        <center>
                            <input required maxlength="11" value="@ViewData["sdt"]" name="sdt" id="sdt" type="tel" class="form-control sdt" style="width:93%; height:60%" placeholder="Số điện thoại">
                        </center>

                        <br />

                        <p style="float:left; color:black">Địa chỉ</p>
                        <br />
                        <center>
                            <input required maxlength="100" value="@ViewData["diachi"]" name="diachi" id="diachi" type="text" class="form-control diachi" style="width:93%; height:60%" placeholder="Địa chỉ">
                        </center>
                        <br />

                        <div class="col-md-12 " style="float:left;">
                            <p style="color:black; float:left; margin-bottom:auto"><input required type="checkbox" style="float:left">&nbsp;Chấp nhận điều khoản đặt vé của PhuongNgan</p>
                        </div>
                        <br />
                        <br />

                        <div class="col-md-6 ">
                            <a href='@Url.Action("Index", "Book")' class="btn btn-primary text-white py-1"
                               style="white-space:nowrap;float:left; width:100%">
                                Quay lại
                            </a>
                        </div>
                        <div class="col-md-6 " style="float:right">
                            <button class="btn btn-primary text-white py-1 submit" name="submit" type="submit" id="submit"
                                    style="white-space:nowrap; width:100%">
                                Tiếp tục
                            </button>
                        </div>

                    </form>
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-md-6">
                <div style="border:1px solid #ddd; padding:15px">
                    <h3 class="font-size-20 text-center" style="color:orangered">Điều khoản và lưu ý</h3>
                    <p style="float:left; color:black">
                        (*) Qúy khách vui lòng mang email có chứa mã vé đến văn phòng để đổi vé lên xe trước giờ xuất bến
                        ít nhất 60 phút để chúng tôi trung chuyển.
                    </p>
                    <p style="float:left; color:black">

                        (*) Thông tin hành khách phải chính xác, nếu không sẽ không thể lên xe hoặc hủy/đổi vé.
                    </p>
                    <p style="float:left; color:black">
                        (*) Qúy khách không được đổi/trả vé vào các ngày Lễ Tết (ngày thường quý khách được quyền chuyển
                        đổi hoặc hủy vé một lần duy nhất trước giờ xe chạy 24 giờ, phí hủy vé 10%).
                    </p>
                    <p style="float:left; color:black">
                        (*) Nếu quý khách có nhu cầu trung chuyển, vui lòng liên hệ số điện thoại 032 737 3434 trước khi đặt vé.
                        Chúng tôi sẽ không đón/trung chuyển tại những điểm xe trung chuyển không thể tới được.
                    </p>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>



