
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminHome/Index.cshtml";
    var dem = 1;
}

<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">DANH SÁCH XE</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2 select2-hidden-accessible" name="property" tabindex="-1" aria-hidden="true">
                                <option selected="selected">Tất cả xe</option>
                             
                            </select> <div class="dropDownSelect2"></div>
                        </div>
                      
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>Lọc
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <a href="Xe/CreateLoaiXe" style="color:white">
                                <i class="zmdi zmdi-plus"></i>Thêm loại xe
                            </a>
                        </button>
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <a href="Xe/CreateXe" style="color:white">
                                <i class="zmdi zmdi-plus"></i>Thêm xe
                            </a>
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2 select2-hidden-accessible" name="type" tabindex="-1" aria-hidden="true">
                                <option selected="selected" disabled>In</option>
                                <option value="">Word</option>
                                <option value="">Excel</option>
                            </select>  <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Biển số</th>
                                <th>Tên loại xe</th>
                                <th>Số chỗ ngồi</th>
                                @*<th>Trạng thái</th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewData["xe"] as List<DTO_BanVeXe.DTO_Xe>)
                            {
                                <tr class="tr-shadow">
                                    <td>@dem</td>
                                    <td>@item.BienSo</td>
                                    <td>@item.TenLoaiXe</td>
                                    <td>@item.SoChoNgoi</td>
                                    @*<td>@item.TrangThai</td>*@
                                    <td>
                                        <div class="table-data-feature">
                                            @*<button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <a href="Xe/EditXe/@item.ID_Xe"><i class="zmdi zmdi-edit"></i></a>
                                            </button>*@
                                            <button onclick="deleteXe(@item.ID_Xe)" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                dem++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function deleteXe(id) {
        var r = confirm("Bạn có muốn xóa xe này không!");
        if (r == true) {
            return location.href = `/Admin/Xe/DeleteXe/${id}`;
        } else {
            // cancel
        }
    }
</script>
