
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminHome/Index.cshtml";
    var dem = 1;
}
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">DANH SÁCH KHÁCH HÀNG</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2 select2-hidden-accessible" name="property" tabindex="-1" aria-hidden="true">
                                <option selected="selected">Tất cả khách hàng</option>
                                <option value="">Nam</option>
                                <option value="">Nữ</option>
                            </select> <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2 select2-hidden-accessible" name="time" tabindex="-1" aria-hidden="true">
                                <option selected="selected">Hôm nay</option>
                                <option value="">3 ngày</option>
                                <option value="">1 tuần</option>
                            </select>  <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>Lọc
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <a href="DSKhachHang/Create" style="color:white">
                                <i class="zmdi zmdi-plus"></i>Thêm khách hàng
                            </a>
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2 select2-hidden-accessible" name="type" tabindex="-1" aria-hidden="true">
                                <option selected="selected" disabled>In</option>
                                <option value="">Word</option>
                                <option value="">Excel</option>
                            </select>  <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>CMND</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewData["khachhang"] as List<DAL_BanVeXe.KHACHHANG>)
                            {
                                <tr class="tr-shadow">
                                    <td>@dem</td>
                                    <td>@item.HOTENKH</td>
                                    <td>@item.SDT</td>
                                    <td>@item.EMAIL</td>
                                    <td>@item.DIACHI</td>
                                    <td>@item.CMND</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <a href="DSKhachHang/Edit/@item.ID"><i class="zmdi zmdi-edit"></i></a>
                                            </button>
                                            <button onclick="deleteKH(@item.ID)" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                dem++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function deleteKH(id) {
        var r = confirm("Bạn có muốn xóa khách hàng này không!");
        if (r == true) {
            return location.href = `/Admin/DSKhachHang/Delete/${id}`;
        } else {
          // cancel
        }
    }
</script>