@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DTO_BanVeXe.DTO_Ghe>

<div class="site-section" id="demo" >
    <div class="container">
        <div class="row" id="" >
          
            <div class="col-md-4">
                @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                {
                    <h3 id="tentuyen" name="tentuyen"class="font-size-20 tentuyen" style="color:orangered; text-align:center" value="@item.ID_Tuyen">@item.TenTuyen<span>&nbsp;Ngày:&nbsp;<span id="ngaydi" name="ngaydi" class="ngaydi">@ViewData["dateStart"]</span></span></h3>
                }
                <div style="border:1px solid #ddd; padding:15px">
                    <p style="float:left; color:black">Chọn giờ khởi hành</p>
                    @*<form method="post" id="form" action="/Book">*@
                        <select class="form-control" style="width:100%; height:50%" name="giokhoihanh" id="giokhoihanh">
                            @if (ViewData["giokhoihanh"] != null)
                            {
                                foreach (var item in ViewData["giokhoihanh"] as List<DTO_BanVeXe.DTO_ChuyenDi>)
                                {
                                    <option name="giokhoihanh" class="giokhoihanh" value="@item.BienSo , @item.ID_Chuyen" onclick={onClickGioKhoiHanh(@item.GioKhoiHanh)}>@item.GioKhoiHanh</option>
                                }
                            }
                        </select>
                   
                    <br />
                   
                    <p style="float:left; color:black">Chọn địa điểm lên xe</p>
                    <select class="form-control" style="width:100%; height:50%" id="diadiem">
                        @foreach (var item in ViewData["diadiem"] as List<DTO_BanVeXe.DTO_DiaDiemDon>)
                        {
                            <option  name="diadiem" class="diadiem" value="@item.ID_DiaDiem">@item.TenDiaDiem</option>
                        }
                    </select>
                    <br />
                    <div class="form-group row">
                        @*<div>@ViewData["xe"].</div>*@
                        <div class="col-md-6 ">
                            @*<input type="submit" class="btn btn-block btn-primary text-white py-1 px-3 " value="Quay lại">*@
                            <a href='@Url.Action("Index", "Home")' class="btn btn-primary text-white py-1 "
                               style="white-space:nowrap;float:left; width:100%">
                                Quay lại
                            </a>
                        </div>
                        <div class="col-md-6 ">
                            <form action="/Info" method="post">
                                <input id="diadiemSelect" name="diadiemSelect" />
                                <input id="gheSelect" name="gheSelect" />
                                <input id="donGiaNha" name="donGiaNha" />
                                <input value="@ViewData["chuyendi"]" id="idChuyenDi" name="idChuyenDi" />
                                <input value="@ViewData["dateStart"]" id="dateStart" style="display : none" name="dateStart" />
                                <input value="@ViewData["noidi"]" id="noidi" style="display : none" name="noidi" />
                                <input value="@ViewData["noiden"]" id="noiden" style="display : none" name="noiden" />
                                <button type="submit" name="submit" class="btn btn-primary text-white py-1 submit"
                                        style="white-space:nowrap;float:right; width:100%">
                                    Tiếp tục
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <div style="border:1px solid #ddd; padding:15px">
                    <h3 class="font-size-20" style="color:orangered; text-align:center">Thông tin chuyến</h3>
                    @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                    {
                        <p style="float:left; color:black" value="@item.ID_Tuyen">Khoảng cách:&nbsp;@item.KhoangCach km</p>

                    }
                    <br>
                    <br>
                    @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                    {
                        <p style="float:left; color:black" value="@item.ID_Tuyen">Số giờ chạy:&nbsp;@item.SoGioChay tiếng</p>
                    }
                    <br />
                    <p></p>
                    <p style="float:left; color:black">Miễn phí</p> &nbsp;
                    <span style="font-size:x-large; color:orangered" class=" icon-tv "></span> &nbsp;
                    <span style="font-size:x-large; color:orangered" class="icon-coffee"></span>&nbsp;
                    <span style="font-size:x-large; color:orangered" class="icon-wifi "></span>
                </div>
            </div>

            <div class="col-md-8">
                <div style="border:1px solid #ddd; padding:15px">
                    <span style="float:left; color:black">SỐ GHẾ: 
                    <input id="soGhe" name="soGhe" style="border:0;color:orangered;font-weight:bold;width:40%" disabled/>
                    </span>
                    <span style="float:right; color:black; margin-right:-100px">
                        TỔNG TIỀN:
                        <input id="donGiane" name="donGiane" style="border:0;color:orangered;font-weight:bold;width:30%" disabled/>
                        @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                        {
                            <input id="donGia" name="donGia" value="@item.DonGia" style="display:none"/>
                        }
                        
                    </span>
                    <br />
                    <div class=" text-center rounded h-100" style=" border-bottom: 1px solid #e9ecef;">
                        <p></p>
                    </div>
                    <div>
                        <div class="container">
                            <div class="row" style="margin:20px 0 20px 40px;">

                                <div class="col-md-5" style="background: #f1f5f8">
                                    <h6 style="color:orangered; text-align:center; margin-top:10px;">TẦNG 1</h6>
                                    <div class="container">
                                        <div class="row">
                                            @if (ViewData["xe"] != null)
                                            {
                                                foreach (var item in ViewData["xe"] as List<DTO_BanVeXe.DTO_Ghe>) {
                                                    for (var i = 1; i <= int.Parse(item.SoChoNgoi.ToString()); i++)
                                                    {
                                                        if (i < 23)
                                                        {
                                                            <div class="col-md-4">
                                                                <input id="ghe" type="button"
                                                                       class="optionItem ghe "
                                                                       value="A @i"
                                                                       style="background-color:gray; width:50px; padding:6px; margin:5px"
                                                                       onclick={onCickItemChair(@i)} />
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5" style="background: #f1f5f8">
                                <h6 style="color:orangered; text-align:center;margin-top:10px;">TẦNG 2</h6>
                                <div class="container">
                                    <div class="row">
                                        @if (ViewData["xe"] != null)
                                        {
                                            foreach (var item in ViewData["xe"] as List<DTO_BanVeXe.DTO_Ghe>) {
                                                for (var i = 1; i <= int.Parse(item.SoChoNgoi.ToString()); i++)
                                                {
                                                    if (i >= 23)
                                                    {
                                                        <div class="col-md-4">
                                                            
                                                            <input id="ghe" type="button" 
                                                                   class="optionItem ghe"
                                                                   value="A @i"
                                                                   style="background-color:grey; width:50px; padding:6px; margin:5px"
                                                                   onclick={onCickItemChair(@i)} />
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class=" text-center rounded h-100" style=" border-bottom: 1px solid #e9ecef;">
            <p></p>
        </div>
        <br />
        <span style="float:left; color:black">Đang chọn</span>
        <span style="margin-left:230px; color:black">Đã đặt</span>
        <span style="float:right; color:black">Còn trống</span>
    </div>
</div>

</div>
</div>
<script type="text/javascript">
    $('#diadiem').val();
    document.getElementById('diadiemSelect').value = $('#diadiem').val()
</script>
<script>

    $('#giokhoihanh').change(function () {
        var giokhoihanh = $('#giokhoihanh').val();
        const a = giokhoihanh.toString().split(',');
        document.getElementById("idChuyenDi").value = a[1];
        var noidi = $('#noidi').val();
        var noiden = $('#noiden').val();
        var dateStart = $('#dateStart').val();
        
            $.ajax({
                type: "POST",
                url: "/Book",
                data: { "noidi": noidi, "noiden": noiden, "dateStart": dateStart, "giokhoihanh": a[0] },
                success: function (data) {

                },
            });
    });
    window.onload();
</script>


<script type="text/javascript">
    //click doi mau ghế
    $(document).ready(function () {
        $(".ghe").on('click', function () {
            $(this).toggleClass("btn-danger");
        });
    });
    //click lay chuoi so ghe
    var listChair = [];
    function onCickItemChair(value) {
        //console.log(listChair);
        var check = null;
        check = listChair.filter(item => item === value);//kiểm tra item trùng

        console.log('check',check)
        function removeA(arr) {//xóa item trùng
            var what, a = arguments, L = a.length, ax;
            while (L > 1 && arr.length) {
                what = a[--L];
                while ((ax = arr.indexOf(what)) !== -1) {
                    arr.splice(ax, 1);
                }
            }
            return arr;
        }

        if (check.length) {
            removeA(listChair, value);
            console.log(listChair)
        }
        else {
            listChair.push(value);
        };


        var listSelect = "";
        listChair.map(item => {
            listSelect = listSelect + item + ", ";
        });
        //for (var i = 0; i < listSelect.length-4; i++) {
        //    if (listSelect[i] === listSelect[i]) {
        //        listSelect.filter(i, );   
        //    }
        //}
       
        //tính tổng tiền
        var tong = listChair.length * $('#donGia').val();

        document.getElementById('donGiane').value = tong;

        document.getElementById('donGiaNha').value = tong;
        //xóa số ghế trùng nhau
        
        
        //console.log('listSelect', listSelect);
        document.getElementById('gheSelect').value = listSelect;

        document.getElementById('soGhe').value = listSelect;

        $(document).ready(
            function () {//click lấy value ghế
                $('select').change(function () {
                    //sessionStorage.setItem("ghe", $('select').val().toString());
                    console.log(sessionStorage.setItem("ghe", $('select').val().toString()))
                });
            });
       
    }
</script>

<script type="text/javascript">
        $(document).ready(
            function () {
                $('#diadiem').change(function () {
                    console.log($('#diadiem').val())
                    document.getElementById('diadiemSelect').value = $('#diadiem').val();
                });
            });
</script>


<script>
    $("#submit").submit(function (event) {
        console.log('qua');
        $.ajax({
            type: "POST",
            url: "/Info",
            data: { "tentuyen": val1, "giokhoihaanh": val2, "diadiem": val3, "ghe": val4 },
        });
    });
</script>
<script>

</script>