@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dem = 0;
    var dem2 = 0;
}
@model IEnumerable<DTO_BanVeXe.DTO_Ghe>

<div class="site-section" id="demo" >
    <div class="container">
        <div class="row" id="" >
            <div class="col-md-4">
                @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                {
                    <h3 id="tentuyen" name="tentuyen"class="font-size-20 tentuyen" style="color:orangered; text-align:center" value="@item.ID_Tuyen">@item.TenTuyen<span>&nbsp;Ngày:&nbsp;<span id="ngaydi" name="ngaydi" class="ngaydi">@ViewData["dateStart"]</span></span></h3>
                }
                <div style="border:1px solid #ddd; padding:15px">
                    <p style="float:left; color:black">Chọn giờ khởi hành</p>
                    @*<form method="post" id="form" action="/Book">*@
                    <select class="form-control" style="width:100%; height:50%" name="giokhoihanh" id="giokhoihanh">
                        @if (ViewData["giokhoihanh"] != null)
                        {
                            foreach (var item in ViewData["giokhoihanh"] as List<DTO_BanVeXe.DTO_ChuyenDi>)
                            {
                                if (dem == 0)
                                {
                                    <option name="giokhoihanh" selected class="giokhoihanh" value="@item.BienSo | @item.ID_Chuyen | @item.SoGhe | @item.GheDaDat.Replace(" ","")" onclick={onClickGioKhoiHanh(@item.GioKhoiHanh)}>@item.GioKhoiHanh</option>
                                }
                                else
                                {
                                    <option name="giokhoihanh"  class="giokhoihanh" value="@item.BienSo | @item.ID_Chuyen | @item.SoGhe | @item.GheDaDat.Replace(" ","")" onclick={onClickGioKhoiHanh(@item.GioKhoiHanh)}>@item.GioKhoiHanh</option>
                                }
                                dem++;
                            }
                        }
                    </select>
                   
                    <br />
                   
                    <p style="float:left; color:black">Chọn địa điểm lên xe</p>
                    <select class="form-control" style="width:100%; height:50%" id="diadiem">
                        @foreach (var item in ViewData["diadiem"] as List<DTO_BanVeXe.DTO_DiaDiemDon>)
                        {
                            if (dem2 == 0) {
                                 <option  name="diadiem" selected class="diadiem" value="@item.ID_DiaDiem">@item.TenDiaDiem</option>
                            }
                            else
                            {
                                 <option  name="diadiem" class="diadiem" value="@item.ID_DiaDiem">@item.TenDiaDiem</option>
                            }
                            dem2++;
                        }
                    </select>
                    <br />
                    <div class="form-group row">
                        @*<div>@ViewData["xe"].</div>*@<div></div>
                                                       <div class="col-md-6 ">
                                                           <a href='@Url.Action("Index", "Home")' class="btn btn-primary text-white py-1 "
                                                              style="white-space:nowrap;float:left; width:100%">
                                                               Quay lại
                                                           </a>
                                                       </div>
                        <input value="@ViewData["getDat"]" style="display : none"/>
                        <div class="col-md-6 ">
                            <form action="/Info" method="post" id="form">
                                <input id="diadiemSelect" name="diadiemSelect" style="display : none"/>
                                <input id="gheSelect" name="gheSelect"style="display : none" />
                                <input id="donGiaNha" name="donGiaNha" style="display : none"/>
                                <input value="@ViewData["ghedat"]" id="ghedat" name="ghedat" style="display : none" />
                                <input value="@ViewData["chuyendi"]" id="idChuyenDi" name="idChuyenDi" style="display : none"/>
                                <input value="@ViewData["dateStart"]" id="dateStart" style="display : none" name="dateStart" />
                                <input value="@ViewData["noidi"]" id="noidi" style="display : none" name="noidi" />
                                <input value="@ViewData["noiden"]" id="noiden" style="display : none" name="noiden" />
                                <button type="submit" name="submit" id="submit" class="btn btn-primary text-white py-1 submit"
                                        style="white-space:nowrap;float:right; width:100%">
                                    Tiếp tục
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <div style="border:1px solid #ddd; padding:15px">
                    <h3 class="font-size-20" style="color:orangered; text-align:center">Thông tin chuyến</h3>
                    @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                    {
                        <p style="float:left; color:black" value="@item.ID_Tuyen">Khoảng cách:&nbsp;@item.KhoangCach km</p>
                    }
                    <br>
                    <br>
                    @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                    {
                        <p style="float:left; color:black" value="@item.ID_Tuyen">Số giờ chạy:&nbsp;@item.SoGioChay tiếng</p>
                    }
                    <br />
                    <p></p>
                    <p style="float:left; color:black">Miễn phí</p> &nbsp;
                    <span style="font-size:x-large; color:orangered" class=" icon-tv "></span> &nbsp;
                    <span style="font-size:x-large; color:orangered" class="icon-coffee"></span>&nbsp;
                    <span style="font-size:x-large; color:orangered" class="icon-wifi "></span>
                </div>
            </div>

            <div class="col-md-8">
                <div style="border:1px solid #ddd; padding:15px">
                    <span style="float:left; color:black">SỐ GHẾ: 
                    <input id="soGhe" name="soGhe" style="border:0;color:orangered;font-weight:bold;width:60%" disabled/>
                    </span>
                    <span style="float:right; color:black; margin-right:-100px">
                        TỔNG TIỀN:
                        <input id="donGiane" name="donGiane" style="border:0;color:orangered;font-weight:bold;width:30%" disabled/>
                        @foreach (var item in ViewData["tuyendi"] as List<DTO_BanVeXe.DTO_TuyenDi>)
                        {
                            <input id="donGia" name="donGia" value="@item.DonGia" style="display:none"/>
                        }
                    </span>
                    <br />
                    <div class=" text-center rounded h-100" style=" border-bottom: 1px solid #e9ecef;">
                        <p></p>
                    </div>
                    <div id="render-chair">

                    </div>
        </div>
        <br />
        <span style="float:left; color:black">Đang chọn</span>
        <span style="margin-left:230px; color:black">Đã đặt: <span id="soghedadat"></span></span>
        <span style="float:right; color:black">Còn trống:  <span id="controng"></span></span>
    </div>
</div>
</div>
</div>

<script>
    $('#diadiem').val();
    var giokhoihanh = $('#giokhoihanh').val();

    const a = giokhoihanh.toString().split('|');

    document.getElementById("idChuyenDi").value = a[1];

    var soghe = a[2];
    var gheDaDat = a[3].split(",");

    document.getElementById("soghedadat").innerHTML = gheDaDat.length - 1;
    document.getElementById("controng").innerHTML = soghe - (gheDaDat.length - 1);

    function checkGheDaDat(array, k) {
        for (var j = 0; j < array.length - 1; j++) {
            if (array[j].trim() === k.toString()) {
                return true;
            }
        }
        return false;
    }

    var up = "";
    var down = "";
    
    for (var i = 1; i <= soghe; i++) {
        if (i <= soghe / 2) {
            if (checkGheDaDat(gheDaDat, i)) {
                down = down + `<div class="col-md-3" style="margin : 10px">
                            <button class="btn-danger" style="width : 45px">${i}</button>
                        </div>`;
            }
            else {
                down = down + `<div class="col-md-3" style="margin : 10px">
                            <button class="ghe" style="width : 45px" onClick={onCickItemChair(${i})}>${i}</button>
                        </div>`;
            }
        } else {
            if (checkGheDaDat(gheDaDat, i)) {
                up = up + `<div class="col-md-3" style="margin : 10px">
                            <button class="btn-danger" style="width : 45px">${i}</button>
                        </div>`;
            }
            else {
                up = up + `<div class="col-md-3" style="margin : 10px">
                            <button class="ghe2 ghe" style="width : 45px" onClick={onCickItemChair(${i})}>${i}</button>
                        </div>`;
            }
        }
        
    }


    document.getElementById("render-chair").innerHTML = `
    <div class="row">
        <div class="col-md-5" style="text-align: center">
            <div class="row">
                ${down}
            </div>
        </div>
        <div class="col-md-2" style="text-align: center">
       
        </div>
        <div class="col-md-5" style="text-align: center">
            <div class="row">
                ${up}
            </div>
        </div>
    </div>`
</script>


<script>

    var listChair = [];
    function onCickItemChair(value) {
        var check = null;
        check = listChair.filter(item => item === value);//kiểm tra item trùng

        function removeA(arr) {//xóa item trùng
            var what, a = arguments, L = a.length, ax;
            while (L > 1 && arr.length) {
                what = a[--L];
                while ((ax = arr.indexOf(what)) !== -1) {
                    arr.splice(ax, 1);
                }
            }
            return arr;
        }

        if (check.length) {
            removeA(listChair, value);
            console.log(listChair)
        }
        else {
            listChair.push(value);
        };

        var listSelect = "";
        listChair.map((item, index) => {
            if (index === listChair.length - 1) {
                listSelect = listSelect + item;
            } else {
                listSelect = listSelect + item + ", ";
            }
        });

        //xóa số ghế trùng nhau
        var tong = listChair.length * $('#donGia').val();
        document.getElementById('donGiane').value = tong;
        document.getElementById('donGiaNha').value = tong;
        document.getElementById('gheSelect').value = listSelect;
        document.getElementById('soGhe').value = listSelect;

        //click lấy value ghế
        $(document).ready(
            function () {
                $('select').change(function () {
                    sessionStorage.setItem("ghe", $('select').val().toString());
                    console.log(sessionStorage.setItem("ghe", $('select').val().toString()))
                });
            });
    }
    $('#giokhoihanh').change(function () {
        var giokhoihanh = $('#giokhoihanh').val();
        listChair = [];
        const a = giokhoihanh.toString().split('|');
        var tong = listChair.length * $('#donGia').val();
        document.getElementById('donGiane').value = tong;
        document.getElementById('donGiaNha').value = tong;
        document.getElementById('gheSelect').value = "";
        document.getElementById('soGhe').value = "";
        document.getElementById("idChuyenDi").value = a[1];

        var soghe = a[2];
        var gheDaDat = a[3].split(",");

        document.getElementById("soghedadat").innerHTML = gheDaDat.length - 1;
        document.getElementById("controng").innerHTML = soghe - (gheDaDat.length - 1);

        function checkGheDaDat(array, k) {
            for (var j = 0; j < array.length - 1; j++) {
                if (array[j].trim() === k.toString()) {
                    return true;
                }
            }
            return false;
        }

        var up = "";
        var down = "";

        for (let i = 1; i <= soghe; i++) {
            if (i <= soghe / 2) {
                if (checkGheDaDat(gheDaDat, i)) {
                    down = down + `<div class="col-md-3" style="margin : 10px">
                            <button class="btn-danger" style="width : 45px">${i}</button>
                        </div>`;
                }
                else {
                    down = down + `<div class="col-md-3" style="margin : 10px">
                            <button class="ghe" style="width : 45px" onClick={onCickItemChair(${i})}>${i}</button>
                        </div>`;
                }
            } else {
                if (checkGheDaDat(gheDaDat, i)) {
                    up = up + `<div class="col-md-3" style="margin : 10px">
                            <button class="btn-danger" style="width : 45px">${i}</button>
                        </div>`;
                }
                else {
                    up = up + `<div class="col-md-3" style="margin : 10px">
                            <button class="ghe" style="width : 45px" onClick={onCickItemChair(${i})}>${i}</button>
                        </div>`;
                }
            }

        }


        document.getElementById("render-chair").innerHTML = `
    <div class="row">
        <div class="col-md-5" style="text-align: center">
            <div class="row">
                ${down}
            </div>
        </div>
        <div class="col-md-2" style="text-align: center">
       
        </div>
        <div class="col-md-5" style="text-align: center">
            <div class="row">
                ${up}
            </div>
        </div>
    </div>`


        var noidi = $('#noidi').val();
        var noiden = $('#noiden').val();
        var dateStart = $('#dateStart').val();
        
            $.ajax({
                type: "POST",
                url: "/Book",
                data: { "noidi": noidi, "noiden": noiden, "dateStart": dateStart, "giokhoihanh": a[0], idChuyenDi: a[1]},
                success: function (data) {

                },
        });
    });
</script>


<script type="text/javascript">
    //click doi mau ghế
    $(document).ready(function () {
        $(".ghe").on('click', function () {
            $(this).toggleClass("btn-primary");

        });
        $(".ghe2").on('click', function () {
            $(this).addClass("btn-primary");
            console.log("dsfsfs");
        });
    });
  

    //click lay chuoi so ghe
    
</script>

<script type="text/javascript">
        $(document).ready(
            function () {
                $('#diadiem').change(function () {
                    console.log($('#diadiem').val())
                    document.getElementById('diadiemSelect').value = $('#diadiem').val();
                });
               
            });
</script>

<script>
    $('#form').submit(function (event) {
        var val1 = $('#soGhe').val();
      
        if (val1 == "") {
            event.preventDefault();
            return alert("Vui lòng chọn ghế!");
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Info",
                data: {"ghe": val1 },
            });
        }
    });
</script>